$bg-cookies-color: #194277;
$main-text-color: #5A5A5A;
$main-title-color: #3677FD;
$button-text-color: #3695FF;
$white-color: #FFFFFF;
$expert-bg-color: #F1F8FF;
$works-bg-color: #F4F4F4;$symu-text-color: #B9BCD1;
$symu-button-bg: #EB304D;
$menu-item-color: #D2D2D2;
$input-color: #5A5A5A;





$bg-color-body: $white-color;

// fonts
$default-font-name: 'Lato';
$main-font: $default-font-name,
Arial,
Helvetica,
sans-serif;
$path-fonts: '../fonts/';

$gap: 15px;

$default-width: 1200px;

$default-count-col: 12;

$breack-points: ("lg": 1200px,
        "md": 992px,
        "sm": 768px,
        "xs": 576px,
        "xxs": 480px);
